@{
    int[] a = (int[])Session["function_id"];
            foreach( var item in a)
            {
                switch(item)
                {                   
                    case 29:
                        {
                                <a href="../Manage_Exporter">
                                    <div class="manage_action_links inner_manage_department_dashboard">
                                        <div class="manage_action_link_importer_icon"></div>
                                        <div class="manage_action_link_text">Manage Exporter</div>
                                        <div class="manage_action_link_dot"></div>
                                    </div>
                                </a>
                        }
                        break;

                    case 30:
                        {
                                <a href="../Manage_Export">
                                    <div class="manage_action_links inner_manage_department_dashboard">
                                        <div class="manage_action_link_import_icon"></div>
                                        <div class="manage_action_link_text">Manage Export</div>
                                        <div class="manage_action_link_dot"></div>
                                    </div>
                                </a>
                        }
                        break;

                    case 31:
                        {
                                <a href="../Way_Bill_Export">
                                    <div class="manage_action_links inner_manage_department_dashboard">
                                        <div class="manage_action_link_way_bill_icon"></div>
                                        <div class="manage_action_link_text">Declaration Form Export</div>
                                        <div class="manage_action_link_dot"></div>
                                    </div>
                                </a>
                        }
                        break;                                                                                 
                }
            }
}
