@{
    var i = 0;
    int[] a = (int[])Session["function_id"];
            foreach( var item in a)
            {
                switch(item)
                {                    
                    case 16:{    i++;
                                <div class="clear"></div>
                                <a href="../Manage_Levis">
                                    <div class="master_data_dashboard manage_department_dashboard sub_master_data_dashboard">
                                        <div class="levi_image"></div>
                                        <div class="dashboard_text">Levy Import</div>
                                        <div class="manage_action_link_dot dashboard_dot"></div>
                                    </div>
                                </a>
                    }
                    break;
                    
                    case 36:{    i++;
                                <div class="clear"></div>
                                <a href="../Manage_Levis_Export">
                                    <div class="master_data_dashboard manage_department_dashboard sub_master_data_dashboard">
                                        <div class="levi_image"></div>
                                        <div class="dashboard_text">Levy Export</div>
                                        <div class="manage_action_link_dot dashboard_dot"></div>
                                    </div>
                                </a>
                    }
                    break;                                                                                                              
                }
            }
}

