@model Puntland_Port_Taxation.Models.Bolleto_DogonaleModel
<div>
    <a href="javascript:void(0);" onclick="closePopup()"><div class="close_button way_bill_close"></div></a>
    <div class="clear"></div>
</div>
<div class="form">
            @Html.Hidden("way_bill_id",TempData["way_bill_id"])
            <div class="editor-label my_profile_text">
                @Html.LabelFor(model => model.currency_id, "Currency")
                @Html.DropDownList("currency_id", (SelectList)ViewBag.currency, "Select Currency", new { @class = "inputselect select" })
                @Html.ValidationMessageFor(model => model.currency_id)
                <div id="error_currency_id" class="val__msgbx dbsearch_first"></div>
                <div class="clear"></div>
            </div>

            <div class="editor-label label_button">
                <a class="dbsearch" href="javascript:void(0);" onclick="view_tax_dxetails();closePopup()"><input type="submit" value="View" class="save_button display_name" onclick="return view_tax_details()" /></a>
@*                <a href="javascript:void(0);" class="text_style" onclick="closePopup()">
                    <input type="button" value="Cancel" class="save_button cancel_button" id="createUser" name="Save" />
                </a>*@
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
    <div class="clear"></div>
</div>

