<div>
    <a href="javascript:void(0);" onclick="closePopup_error()"><div class="close_button"></div></a>
    <div class="clear"></div>
</div>
<div class="display_name font_family">
    @TempData["error_message"]
    <div class="clear"></div>
</div>
<div class="display_name">
    <a href="javascript:void(0);" class="text_style" onclick="closePopup_error()">
        <input type="button" value="Ok" class="save_button ok_button" id="createUser" name="Save" />
    </a>
</div>